@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

html {
  height: 100vh;
  margin: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #090d12 !important;  
  color: #efefef !important;
}

.white-content {
  background: white;
}

/* 
body {
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
